@model Payment
@{
    ViewData["Title"] = "Delete Payment";
}

<div class="row justify-content-center p-3">
    <div class="col-md-4 form-card">
        <form asp-action="DeletePayment" class="app-form" enctype="multipart/form-data">
            <h5 class="text-center">Are you sure you want to delete this Payment method?</h5>
            <p><strong>Name: </strong>@Model.PaymentName</p>
            <p><strong>Image:</strong></p>
            @if (Model.Image != null)
            {
                <img src="@Model.Image" class="table-img mb-3" />
            }
            <input type="hidden" asp-for="PaymentId" />
            <br />
            <a asp-action="Payment" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
