﻿@{
    ViewData["Title"] = "Admin";
}

<div id="admin-view">
    <partial name="Partial/_HeaderPartial.cshtml" />
    <div class="row mx-0">
        @foreach(string item in ViewBag.ManageItem)
        {
            <div class="col-12 col-md-6 col-lg-3 manage-item">
                <a asp-action="@item">Manage @item</a>
            </div>
        }
    </div>
</div>
