﻿@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <div class="d-flex flex-column">
        <a asp-action="Chefs">Manage Chefs</a>
        <a asp-action="Specials">Manage Specials</a>
        <a asp-action="Events">Manage Events</a>
        <a asp-action="Testimonials">Manage Testimonials</a>
    </div>
    
</div>
