﻿@{
    ViewData["Title"] = "Admin";
}

<div id="admin-view">
    <partial name="Partial/_HeaderPartial.cshtml" />
    <div class="d-flex flex-column">
        <a asp-action="Chefs">Manage Chefs</a>
        <a asp-action="Specials">Manage Specials</a>
        <a asp-action="Events">Manage Events</a>
        <a asp-action="Testimonials">Manage Testimonials</a>
        <a asp-action="Gallery">Manage Gallery</a>
    </div>
</div>
