@model GodzillaRestaurant.Models.AccountViewModels.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>@Model.StatusMessage</p>
    <p>Back to <a href="/Login">Login Page</a></p>
</div>
