@model GodzillaRestaurant.Models.AccountViewModels.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<partial name="Partial/_HeaderPartial.cshtml" />
<section id="menu" class="menu main-section section-bg">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>@Model.StatusMessage</p>
        <p>Back to <a href="/Login">Login Page</a></p>
    </div>
</section>
