@{
    ViewData["Title"] = "Forgot password confirmation";
}

<partial name="Partial/_HeaderPartial.cshtml" />
<section class="container p-0">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</section>
