@model GodzillaRestaurant.Models.AccountViewModels.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Confirm Email has been sent to <b>@Model.Email</b></p>
<p>
    Please check your email to confirm your account.
</p>