﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<partial name="Partial/_HeaderPartial.cshtml" />
<section class="container p-0">
    <h2>@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a href="/Login">click here to log in</a>.
    </p>
</section>
