﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<header id="header" class="top-0 position-relative">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="Home">Godzilla</a></h1>
    </div>
</header>
<div class="row justify-content-center w-100 mb-5 auth-layout">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">
                            Log In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Register">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}