@model Order
@{
    ViewData["Title"] = "Check Out";
}

<div>
    <partial name="Partial/_HeaderPartial.cshtml" />
    <section id="menu" class="menu main-section section-bg">
        <div class="container" data-aos="fade-up">
            <div class="text-center mb-3">
                <h4>Thanks for your Order</h4>
                <span>We will contact you when we confirm this order</span>
                <br />
                <span>Have A Nice Day !!!</span>
            </div>
            <partial name="Partial/_OrderPartial.cshtml" />
            <div class="d-flex mt-3 gap-2">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("AllOrder", "Home")'">View All Orders</button>
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Home")'">Back to Home</button>
            </div>
        </div>

    </section>
</div>
