@{
    ViewData["Title"] = "Gozilla Restaurant";
}

<div>
    <partial name="Partial/_HeaderPartial.cshtml" />
    <partial name="Partial/_WelcomePartial.cshtml" />
    <partial name="Partial/_AboutPartial.cshtml" />
</div>
