@{
    ViewData["Title"] = "Gozilla Restaurant";
}

<div>
    <partial name="Partial/_HeaderPartial.cshtml" />
    <partial name="Partial/_WelcomePartial.cshtml" />
    <partial name="Partial/_AboutPartial.cshtml" />
    <partial name="Partial/_WhyUsPartial.cshtml" />
    <partial name="Partial/_MenuPartial.cshtml" />
    <partial name="Partial/_SpecialsPartial.cshtml" />
    <partial name="Partial/_EventsPartial.cshtml" />
    <partial name="Partial/_BookTablePartial.cshtml" />
    <partial name="Partial/_TestimonialsPartial.cshtml" />
    <partial name="Partial/_GalleryPartial.cshtml" />
    <partial name="Partial/_ChefsPartial.cshtml" />
</div>
