@model Order
@{
    ViewData["Title"] = "Order Detail";
}

<div>
    <partial name="Partial/_HeaderPartial.cshtml" />
    <section id="menu" class="menu main-section section-bg">
        <div class="container" data-aos="fade-up">
        </div>
    </section>
</div>
