@{
    ViewData["Title"] = "View Order";
}

<div>
    <partial name="Partial/_TopBarPartial.cshtml" />
    <partial name="Partial/_HeaderPartial.cshtml" />
    <section id="menu" class="menu main-section section-bg">
        <button class="btn btn-primary mt-5" onclick="location.href='@Url.Action("Cart", "Home")'">Back to Cart</button>
        <h5>Cart</h5>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("CheckOut", "Home")'">Check Out</button>
    </section>
</div>