@model GodzillaRestaurant.Models.FoodType

<div>
    <input type="hidden" asp-for="FoodTypeId" />
    <div class="form-floating mb-3">
        <input asp-for="FoodTypeName" class="form-control" required placeholder="Name" />
        <label asp-for="FoodTypeName" class="form-label">Food Type Name</label>
        <span asp-validation-for="FoodTypeName" class="text-danger small"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="number" asp-for="Sequence" class="form-control" required placeholder="Sequence" />
        <label asp-for="Sequence" class="form-label">Food Type Sequence</label>
        <span asp-validation-for="Sequence" class="text-danger small"></span>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}