@model GodzillaRestaurant.Models.GalleryItem

<div>
    <input type="hidden" asp-for="GalleryItemId" />
    <div class="form-floating mb-3">
        <input asp-for="Image" class="form-control" placeholder="Image" />
        <label asp-for="Image" class="form-label">Image Link</label>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}