<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Godzilla is a fresh restaurant</h3>
                <p class="fst-italic">
                    We launch in the summer of 2021. Since then, Godzilla has achieved many successes in the culinary market
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i> Coming to Godziila, you can not only enjoy the dishes with the taste of Vietnam's homeland, but also enjoy famous dishes in the world.
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i> Besides, you will be immersed in a quiet romantic space to relax after a stressful working week
                    </li>
                </ul>
                <p>
                    We promise our service will satisfy you
                </p>
            </div>
        </div>
    </div>
</section>
