<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
    </div>

    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.6289577480306!2d23.328461975229924!3d42.69040141416889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8574c39a6cf9%3A0x66bef9bd258e64a8!2sGODZILA%20Restaurant!5e0!3m2!1svi!2s!4v1708620472498!5m2!1svi!2s" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">
        <div class="row mt-5 align-items-baseline">
            <div class="col-lg-6">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Thu Duc City, Ho Chi Minh City, Viet Nam</p>
                    </div>
                    <div class="open-hours">
                        <i class="bi bi-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday-Saturday:<br>
                            11:00 AM - 2300 PM
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="info">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>contact@godzilla.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>(+84) 938760123</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>