<section id="events" class="events">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Events</h2>
            <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="img/event-birthday.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Birthday Parties</h3>
                            <div class="price">
                                <p><span>$189</span></p>
                            </div>
                            <p class="fst-italic">
                                Do you want to have a surprise birthday party?
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> We provide the best quality birthday party service. </li>
                                <li><i class="bi bi-check-circled"></i> The dishes are selected at your disposal at a very cheap and reasonable cost.</li>
                                <li><i class="bi bi-check-circled"></i> The birthday room will be decorated in the most perfect way. </li>
                            </ul>
                            <p>
                                Enjoy your upcoming birthday at our restaurant
                            </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="img/event-wedding.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Wedding</h3>
                            <div class="price">
                                <p><span>$290</span></p>
                            </div>
                            <p class="fst-italic">
                                You are planning to choose a restaurant to hold the important wedding of your life. Then our restaurant is the best choice Make your wedding party an unforgettable event
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> You will also be provided with wedding attire and other related items.</li>
                                <li><i class="bi bi-check-circled"></i> The restaurant will hold a grand ceremony for your wedding party that cannot be cheaper elsewhere.</li>
                                <li><i class="bi bi-check-circled"></i> You can also participate in the lucky draw for the luckiest couple.</li>
                            </ul>
                            <p>
                                Let's make your wedding party an unforgettable event
                            </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <img src="img/event-custom.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Custom Parties</h3>
                            <div class="price">
                                <p><span>$99</span></p>
                            </div>
                            <p class="fst-italic">
                                With the need to organize a simple party, not too picky, this option is very suitable for you
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> The cost is only a third of other parties.</li>
                                <li><i class="bi bi-check-circled"></i> You will still enjoy delicious food.</li>
                                <li><i class="bi bi-check-circled"></i> And the cost will be completely reasonable.</li>
                            </ul>
                            <p>
                                Let's make an appointment for your party
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>