<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>(+84) 938760123</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 9AM - 23PM</span></i>
        </div>
        <div class="languages d-none d-md-flex align-items-center">
            <partial name="/Views/Home/Partial/_LoginPartial.cshtml" />
        </div>
    </div>
</div>
<header id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="Home">Godzilla</a></h1>
    </div>
</header>
