﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a href="/" title="Manage"><b>Hello @UserManager.GetUserName(User)</b></a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="nav-link btn btn-link text-danger border-0 ms-3"><b>Log out</b></button>
        </form>
    </li>
}
else
{
    <li class="signIn">
        <a id="register" href="/Register">Register</a>
    </li>
    <li>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
    <li class="signIn">
        <a id="login" href="/Login">Login</a>
    </li>
}
