<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach(Testimonial testimonial in ViewBag.Testimonials)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> @testimonial.Detail
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="@testimonial.Image" class="testimonial-img" alt="">
                            <h3>@testimonial.Name</h3>
                            <h4>@testimonial.Position</h4>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>